body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#results {
  margin-top: 30px;
}