body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.upload-box {
  border: 2px dashed #3b82f6;
  padding: 40px;
  margin: 20px auto;
  width: 300px;
  cursor: pointer;
}

button {
  background: #3b82f6;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #2563eb;
}

#downloadLink {
  display: block;
  margin-top: 20px;
  color: #22c55e;
}
